<img src="assets/img/burger_image.gif" alt="burgerPic" style="margin-left: 40%"/>

<h1 id="header">Let's Eat!</h1>

<div class="container" style="margin-left: 25%">
  <div class="row justify-content-md-center">
    <div class="col-md-6">
      {{#each burgers}}
        <div>
          <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
            {{this.burger_name}}
            <button type="submit" class="lets-eat">Devour!</button>
          </form>
        </div>
      {{/each}}
    </div>
    
    <div class="col-md-6">
      {{#each burgers}}
        {{#if this.devoured}}
          <div class="eaten">
            {{this.burger_name}}
          </div>
        {{/if}}
      {{/each}}
    </div>
  </div>
</div>


{{!-- This will submit the user input into the database --}}
<h4 id="burgerName">Name a Burger!</h4>

<form class="burgerForm">
    <div class="inputBox">
        <textarea name="newBurger" id="message" cols="30" rows="10"></textarea>
    </div>

    <button id="submit" type="submit">Make a Burger</button>
</form>
